In [462]:
import requests
from bs4 import BeautifulSoup
from time import sleep
import pandas as pd
import os

In [463]:
# Чтобы перезаписать все csv файлы из папки в один файл

import os

directory = os.fsencode("data/weather_of_zip_codes_at_date")
with open('data/weather_data.csv', 'a') as all_data_f:
    all_data_f.write(",zip_code,date,time,temperature,humidity,wind_speed\n")
    for file in os.listdir(directory):
        filename = os.fsdecode(file)
        if filename.endswith(".csv"):
            with open(f'data/weather_of_zip_codes_at_date/{filename}', 'r') as one_data_f:
                next(one_data_f)
                all_data_f.write(one_data_f.read())
            continue
        else:
            continue

In [464]:
df1 = pd.read_csv("data/weather_data.csv")
df1.drop('Unnamed: 0', axis=1, inplace=True)
df1

        zip_code        date   time  temperature  humidity  wind_speed
0         115162  2024-06-20  00:00           66        73          13
1         115162  2024-06-20  00:30           66        78          11
2         115162  2024-06-20  01:00           66        78           9
3         115162  2024-06-20  01:30           66        78          11
4         115162  2024-06-20  02:00           66        78          13
...          ...         ...    ...          ...       ...         ...
199256    121596  2024-06-16  21:30           73        57          13
199257    121596  2024-06-16  22:00           73        57          11
199258    121596  2024-06-16  22:30           72        60          11
199259    121596  2024-06-16  23:00           72        57          11
199260    121596  2024-06-16  23:30           72        57          13

[199261 rows x 6 columns]

In [465]:
df2 = pd.read_csv("data/region_info.csv")
df2.drop('Unnamed: 0', axis=1, inplace=True)
df2.drop('Unnamed: 0.1', axis=1, inplace=True)
df2.drop('Unnamed: 0.2', axis=1, inplace=True)
df2.drop("№", axis=1, inplace=True)
df2

,street,zip_code,latitude,longitude,region,hex_id
0,"""Москва, рабочий посёлок Заречье""",141270,56.148300,37.952924,"141270, Московская обл, г Пушкино, рп Софрино,...",8811aa4513fffff
1,"""Москва, Витебская улица, 9""",121354,55.710689,37.411925,"121354, г Москва, Можайский р-н, ул Витебская,...",8811aa45ddfffff
2,"""Москва, Подольское шоссе""",115093,55.711849,37.622868,"115093, г Москва, Даниловский р-н, ул Даниловс...",8811aa7815fffff
3,"""Москва, Севастопольский проспект, 11Е""",117447,55.686800,37.604013,"117447, г Москва, р-н Котловка, Севастопольски...",8811aa7829fffff
4,"""Москва, Кутузовский проспект, 9к1""",121248,55.748471,37.561185,"121248, г Москва, р-н Дорогомилово, Кутузовски...",8811aa7ae9fffff
...,...,...,...,...,...,...
158,"""Москва, улица Лобачевского, 44""",119415,55.669818,37.499754,"119415, г Москва, р-н Проспект Вернадского, ул...",8811aa7b47fffff
159,"""Москва, проспект Генерала Дорохова, 80""",121471,55.682950,37.416842,"121471, г Москва, Очаково-Матвеевское р-н, пр-...",8811aa4585fffff
160,"""Москва, Ельнинская улица, 24""",121552,55.740163,37.419976,"121552, г Москва, р-н Кунцево, ул Ельнинская, ...",8811aa44e3fffff
161,"""Москва, 1-й Хорошёвский проезд, 4к3""",125284,55.777636,37.548178,"125284, г Москва, Хорошевский р-н, 1-й Хорошёв...",8811aa7135fffff
162,"""Москва, улица Маршала Катукова, вл33""",123181,55.803269,37.422273,"123181, г Москва, р-н Строгино, ул Исаковского...",8811aa7363fffff

In [466]:
df2['hex_id'].unique()

array(['8811aa4513fffff', '8811aa45ddfffff', '8811aa7815fffff',
       '8811aa7829fffff', '8811aa7ae9fffff', '8811aa624dfffff',
       '8811aa449dfffff', '8811aa45d7fffff', '8811aa7863fffff',
       '8811aa6b0bfffff', '8811aa6235fffff', '8811aa79ebfffff',
       '8811aa7993fffff', '8811aa7ad3fffff', '8811aa6a69fffff',
       '8811aa7a31fffff', '8811aa7a51fffff', '8811aa71d3fffff',
       '8811aa79b1fffff', '8811aa7365fffff', '8811aa6b49fffff',
       '8811aa7049fffff', '8811aa7033fffff', '8811aa7003fffff',
       '8811aa6a49fffff', '8811aa7103fffff', '8811aa7b19fffff',
       '8811aa620dfffff', '8811aa44c3fffff', '8811aa7a85fffff',
       '8811aa7267fffff', '8811aa7a47fffff', '8811aa7a09fffff',
       '8811aa726dfffff', '8811aa7b17fffff', '8811aa7aa9fffff',
       '8811aa44d9fffff', '8811aa7997fffff', '8811aa7307fffff',
       '8811aa7b15fffff', '8811aa6149fffff', '8811aa7125fffff',
       '8811aa7a17fffff', '8811aa449bfffff', '8811aa7221fffff',
       '8811aa6b43fffff', '8811aa630dfffff', '8811aa44adfffff',
       '8811aa7a55fffff', '8811aa71abfffff', '8811aa7a1bfffff',
       '8811aa7b5dfffff', '8811aa7323fffff', '8811aa7139fffff',
       '8811aa46b3fffff', '8811aa44cbfffff', '8811aa7893fffff',
       '8811aa71e1fffff', '8811aa7919fffff', '8811aa7345fffff',
       '8811aa6341fffff', '8811aa44e9fffff', '8811aa45e3fffff',
       '8811aa44c1fffff', '8811aa44c7fffff', '8811aa71ddfffff',
       '8811aa633bfffff', '8811aa7881fffff', '8811aa78bbfffff',
       '8811aa6343fffff', '8811aa7a5bfffff', '8811aa6a29fffff',
       '8811aa7985fffff', '8811aa6a01fffff', '8811aa6355fffff',
       '8811aa7825fffff', '8811aa44b3fffff', '8811aa7857fffff',
       '8811aa6331fffff', '8811aa7a49fffff', '8811aa45c7fffff',
       '8811aa7155fffff', '8811aa7a27fffff', '8811aa7a21fffff',
       '8811aa7a65fffff', '8811aa602bfffff', '8811aa636bfffff',
       '8811aa6a43fffff', '8811aa6b57fffff', '8811aa44a7fffff',
       '8811aa7849fffff', '8811aa7801fffff', '8811aa7b07fffff',
       '8811aa7a5dfffff', '8811aa44abfffff', '8811aa44ebfffff',
       '8811aa44e5fffff', '8811aa7167fffff', '8811aa6207fffff',
       '8811aa713dfffff', '8811aa45b5fffff', '8811aa7261fffff',
       '8811aa4493fffff', '8811aa71edfffff', '8811aa7a37fffff',
       '8811aa789bfffff', '8811aa71e9fffff', '8811aa7ac1fffff',
       '8811aa7811fffff', '8811aa45abfffff', '8811aa7a3dfffff',
       '8811aa7b11fffff', '8811aa7b31fffff', '8811aa782dfffff',
       '8811aa6b4bfffff', '8811aa736dfffff', '8811aa7a33fffff',
       '8811aa7133fffff', '8811aa44bbfffff', '8811aa6b53fffff',
       '8811aa44cdfffff', '8811aa79d1fffff', '8811aa45ebfffff',
       '8811aa4483fffff', '8811aa78a9fffff', '8811aa7821fffff',
       '8811aa6351fffff', '8811aa795bfffff', '8811aa45bbfffff',
       '8811aa784bfffff', '8811aa6245fffff', '8811aa44bdfffff',
       '8811aa78cbfffff', '8811aa6337fffff', '8811aa78b1fffff',
       '8811aa7041fffff', '8811aa7137fffff', '8811aa7009fffff',
       '8811aa78e7fffff', '8811aa7b1dfffff', '8811aa798bfffff',
       '8811aa79d3fffff', '8811aa7a8bfffff', '8811aa79a9fffff',
       '8811aa45e5fffff', '8811aa71c7fffff', '8811aa6327fffff',
       '8811aa7127fffff', '8811aa7acdfffff', '8811aa712bfffff',
       '8811aa7a61fffff', '8811aa798dfffff', '8811aa784dfffff',
       '8811aa4499fffff', '8811aa6335fffff', '8811aa4581fffff',
       '8811aa71dbfffff', '8811aa7957fffff', '8811aa7b47fffff',
       '8811aa4585fffff', '8811aa44e3fffff', '8811aa7135fffff',
       '8811aa7363fffff'], dtype=object)

In [467]:
df_zip_code = df2.merge(df1, how="inner", on="zip_code")
df_zip_code
# df_zip_code.dropna()

,street,zip_code,latitude,longitude,region,hex_id,date,time,temperature,humidity,wind_speed
0,"""Москва, Витебская улица, 9""",121354,55.710689,37.411925,"121354, г Москва, Можайский р-н, ул Витебская,...",8811aa45ddfffff,2024-06-05,00:00,63,77,7
1,"""Москва, Витебская улица, 9""",121354,55.710689,37.411925,"121354, г Москва, Можайский р-н, ул Витебская,...",8811aa45ddfffff,2024-06-05,00:30,63,77,7
2,"""Москва, Витебская улица, 9""",121354,55.710689,37.411925,"121354, г Москва, Можайский р-н, ул Витебская,...",8811aa45ddfffff,2024-06-05,01:00,61,82,9
3,"""Москва, Витебская улица, 9""",121354,55.710689,37.411925,"121354, г Москва, Можайский р-н, ул Витебская,...",8811aa45ddfffff,2024-06-05,01:30,61,88,9
4,"""Москва, Витебская улица, 9""",121354,55.710689,37.411925,"121354, г Москва, Можайский р-н, ул Витебская,...",8811aa45ddfffff,2024-06-05,02:00,61,88,7
...,...,...,...,...,...,...,...,...,...,...,...
150165,"""Москва, улица Маршала Катукова, вл33""",123181,55.803269,37.422273,"123181, г Москва, р-н Строгино, ул Исаковского...",8811aa7363fffff,2024-06-12,21:30,68,88,9
150166,"""Москва, улица Маршала Катукова, вл33""",123181,55.803269,37.422273,"123181, г Москва, р-н Строгино, ул Исаковского...",8811aa7363fffff,2024-06-12,22:00,68,88,7
150167,"""Москва, улица Маршала Катукова, вл33""",123181,55.803269,37.422273,"123181, г Москва, р-н Строгино, ул Исаковского...",8811aa7363fffff,2024-06-12,22:30,68,88,9
150168,"""Москва, улица Маршала Катукова, вл33""",123181,55.803269,37.422273,"123181, г Москва, р-н Строгино, ул Исаковского...",8811aa7363fffff,2024-06-12,23:00,68,88,9
150169,"""Москва, улица Маршала Катукова, вл33""",123181,55.803269,37.422273,"123181, г Москва, р-н Строгино, ул Исаковского...",8811aa7363fffff,2024-06-12,23:30,68,88,7

In [468]:
df = df_zip_code.copy()

In [469]:
df['date'] = pd.to_datetime(df['date']).dt.date
df['time'] = pd.to_datetime(df['time'], format='%H:%M').dt.time
df['datetime'] = pd.to_datetime(df['date'].astype(str) + ' ' + df['time'].astype(str))
df['datetime_floor'] = df['datetime'].dt.floor('h')
df = df.drop_duplicates(subset=['hex_id', 'datetime_floor'], keep='first')
df

,street,zip_code,latitude,longitude,region,hex_id,date,time,temperature,humidity,wind_speed,datetime,datetime_floor
0,"""Москва, Витебская улица, 9""",121354,55.710689,37.411925,"121354, г Москва, Можайский р-н, ул Витебская,...",8811aa45ddfffff,2024-06-05,00:00:00,63,77,7,2024-06-05 00:00:00,2024-06-05 00:00:00
2,"""Москва, Витебская улица, 9""",121354,55.710689,37.411925,"121354, г Москва, Можайский р-н, ул Витебская,...",8811aa45ddfffff,2024-06-05,01:00:00,61,82,9,2024-06-05 01:00:00,2024-06-05 01:00:00
4,"""Москва, Витебская улица, 9""",121354,55.710689,37.411925,"121354, г Москва, Можайский р-н, ул Витебская,...",8811aa45ddfffff,2024-06-05,02:00:00,61,88,7,2024-06-05 02:00:00,2024-06-05 02:00:00
6,"""Москва, Витебская улица, 9""",121354,55.710689,37.411925,"121354, г Москва, Можайский р-н, ул Витебская,...",8811aa45ddfffff,2024-06-05,03:00:00,61,88,7,2024-06-05 03:00:00,2024-06-05 03:00:00
8,"""Москва, Витебская улица, 9""",121354,55.710689,37.411925,"121354, г Москва, Можайский р-н, ул Витебская,...",8811aa45ddfffff,2024-06-05,04:00:00,59,94,4,2024-06-05 04:00:00,2024-06-05 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
150160,"""Москва, улица Маршала Катукова, вл33""",123181,55.803269,37.422273,"123181, г Москва, р-н Строгино, ул Исаковского...",8811aa7363fffff,2024-06-12,19:00:00,70,78,2,2024-06-12 19:00:00,2024-06-12 19:00:00
150162,"""Москва, улица Маршала Катукова, вл33""",123181,55.803269,37.422273,"123181, г Москва, р-н Строгино, ул Исаковского...",8811aa7363fffff,2024-06-12,20:00:00,70,83,4,2024-06-12 20:00:00,2024-06-12 20:00:00
150164,"""Москва, улица Маршала Катукова, вл33""",123181,55.803269,37.422273,"123181, г Москва, р-н Строгино, ул Исаковского...",8811aa7363fffff,2024-06-12,21:00:00,68,88,9,2024-06-12 21:00:00,2024-06-12 21:00:00
150166,"""Москва, улица Маршала Катукова, вл33""",123181,55.803269,37.422273,"123181, г Москва, р-н Строгино, ул Исаковского...",8811aa7363fffff,2024-06-12,22:00:00,68,88,7,2024-06-12 22:00:00,2024-06-12 22:00:00
150168,"""Москва, улица Маршала Катукова, вл33""",123181,55.803269,37.422273,"123181, г Москва, р-н Строгино, ул Исаковского...",8811aa7363fffff,2024-06-12,23:00:00,68,88,9,2024-06-12 23:00:00,2024-06-12 23:00:00

In [470]:
full_range = pd.date_range(start=df['datetime_floor'].min(), end=df['datetime_floor'].max(), freq='h')
full_df = pd.DataFrame(full_range, columns=['datetime_floor'])
full_df

# # Заполнение пропущенных значений данными из предыдущих строк
# merged_df.fillna(method='ffill', inplace=True)
# 
# print(merged_df)

         datetime_floor
0   2024-06-01 00:00:00
1   2024-06-01 01:00:00
2   2024-06-01 02:00:00
3   2024-06-01 03:00:00
4   2024-06-01 04:00:00
..                  ...
475 2024-06-20 19:00:00
476 2024-06-20 20:00:00
477 2024-06-20 21:00:00
478 2024-06-20 22:00:00
479 2024-06-20 23:00:00

[480 rows x 1 columns]

In [471]:
# Объединение полного диапазона с оригинальным DataFrame
merged_df = pd.merge(full_df, df, on='datetime_floor', how='left')
merged_df.sort_values(by=['hex_id', 'date', 'time', 'datetime_floor'], ascending=True, inplace=True)
# merged_df['datetime_floor'] = pd.to_datetime(df['date'].astype(str) + ' ' + df['time'].astype(str))
merged_df

,datetime_floor,street,zip_code,latitude,longitude,region,hex_id,date,time,temperature,humidity,wind_speed,datetime
102,2024-06-01 00:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,00:00:00,64,73,7,2024-06-01 00:00:00
239,2024-06-01 01:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,01:00:00,61,77,7,2024-06-01 01:00:00
376,2024-06-01 02:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,02:00:00,63,77,7,2024-06-01 02:00:00
513,2024-06-01 03:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,03:00:00,63,77,7,2024-06-01 03:00:00
650,2024-06-01 04:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,04:00:00,63,77,9,2024-06-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65106,2024-06-20 19:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,19:00:00,57,88,13,2024-06-20 19:00:00
65243,2024-06-20 20:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,20:00:00,57,88,13,2024-06-20 20:00:00
65380,2024-06-20 21:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,21:00:00,57,88,11,2024-06-20 21:00:00
65517,2024-06-20 22:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,22:00:00,57,88,11,2024-06-20 22:00:00
65654,2024-06-20 23:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,23:00:00,57,88,11,2024-06-20 23:00:00

In [472]:
merged_df = merged_df.ffill()
merged_df

,datetime_floor,street,zip_code,latitude,longitude,region,hex_id,date,time,temperature,humidity,wind_speed,datetime
102,2024-06-01 00:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,00:00:00,64,73,7,2024-06-01 00:00:00
239,2024-06-01 01:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,01:00:00,61,77,7,2024-06-01 01:00:00
376,2024-06-01 02:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,02:00:00,63,77,7,2024-06-01 02:00:00
513,2024-06-01 03:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,03:00:00,63,77,7,2024-06-01 03:00:00
650,2024-06-01 04:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,04:00:00,63,77,9,2024-06-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65106,2024-06-20 19:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,19:00:00,57,88,13,2024-06-20 19:00:00
65243,2024-06-20 20:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,20:00:00,57,88,13,2024-06-20 20:00:00
65380,2024-06-20 21:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,21:00:00,57,88,11,2024-06-20 21:00:00
65517,2024-06-20 22:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,22:00:00,57,88,11,2024-06-20 22:00:00
65654,2024-06-20 23:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,23:00:00,57,88,11,2024-06-20 23:00:00

In [473]:
df = merged_df.copy()

In [474]:
df['temperature_fahrenheit'] = df['temperature']
df['temperature_celsius'] = round((df.temperature_fahrenheit - 32) / 1.8).astype(int)
df

,datetime_floor,street,zip_code,latitude,longitude,region,hex_id,date,time,temperature,humidity,wind_speed,datetime,temperature_fahrenheit,temperature_celsius
102,2024-06-01 00:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,00:00:00,64,73,7,2024-06-01 00:00:00,64,18
239,2024-06-01 01:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,01:00:00,61,77,7,2024-06-01 01:00:00,61,16
376,2024-06-01 02:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,02:00:00,63,77,7,2024-06-01 02:00:00,63,17
513,2024-06-01 03:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,03:00:00,63,77,7,2024-06-01 03:00:00,63,17
650,2024-06-01 04:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,04:00:00,63,77,9,2024-06-01 04:00:00,63,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65106,2024-06-20 19:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,19:00:00,57,88,13,2024-06-20 19:00:00,57,14
65243,2024-06-20 20:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,20:00:00,57,88,13,2024-06-20 20:00:00,57,14
65380,2024-06-20 21:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,21:00:00,57,88,11,2024-06-20 21:00:00,57,14
65517,2024-06-20 22:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,22:00:00,57,88,11,2024-06-20 22:00:00,57,14
65654,2024-06-20 23:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,23:00:00,57,88,11,2024-06-20 23:00:00,57,14

In [475]:
df['temperature'] = df['temperature_celsius']
df.drop('temperature_celsius', axis=1, inplace=True)
df.drop('temperature_fahrenheit', axis=1, inplace=True)
df

,datetime_floor,street,zip_code,latitude,longitude,region,hex_id,date,time,temperature,humidity,wind_speed,datetime
102,2024-06-01 00:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,00:00:00,18,73,7,2024-06-01 00:00:00
239,2024-06-01 01:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,01:00:00,16,77,7,2024-06-01 01:00:00
376,2024-06-01 02:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,02:00:00,17,77,7,2024-06-01 02:00:00
513,2024-06-01 03:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,03:00:00,17,77,7,2024-06-01 03:00:00
650,2024-06-01 04:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,04:00:00,17,77,9,2024-06-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65106,2024-06-20 19:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,19:00:00,14,88,13,2024-06-20 19:00:00
65243,2024-06-20 20:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,20:00:00,14,88,13,2024-06-20 20:00:00
65380,2024-06-20 21:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,21:00:00,14,88,11,2024-06-20 21:00:00
65517,2024-06-20 22:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,22:00:00,14,88,11,2024-06-20 22:00:00
65654,2024-06-20 23:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,23:00:00,14,88,11,2024-06-20 23:00:00

In [476]:
weather_df = df.reindex(
    columns=[
        'hex_id', 'street', 'region', 'latitude', 'longitude', 'datetime', 'temperature', 'humidity', 'wind_speed'
    ]
)
weather_df

,hex_id,street,region,latitude,longitude,datetime,temperature,humidity,wind_speed
102,8811aa4483fffff,"""Москва, Островная улица, 2с2""","121552, г Москва, Крылатское р-н, ул Островная...",55.757861,37.450993,2024-06-01 00:00:00,18,73,7
239,8811aa4483fffff,"""Москва, Островная улица, 2с2""","121552, г Москва, Крылатское р-н, ул Островная...",55.757861,37.450993,2024-06-01 01:00:00,16,77,7
376,8811aa4483fffff,"""Москва, Островная улица, 2с2""","121552, г Москва, Крылатское р-н, ул Островная...",55.757861,37.450993,2024-06-01 02:00:00,17,77,7
513,8811aa4483fffff,"""Москва, Островная улица, 2с2""","121552, г Москва, Крылатское р-н, ул Островная...",55.757861,37.450993,2024-06-01 03:00:00,17,77,7
650,8811aa4483fffff,"""Москва, Островная улица, 2с2""","121552, г Москва, Крылатское р-н, ул Островная...",55.757861,37.450993,2024-06-01 04:00:00,17,77,9
...,...,...,...,...,...,...,...,...,...
65106,8811aa7b5dfffff,"""Москва, улица Раменки, 25к3""","119607, г Москва, р-н Раменки, ул Раменки, д 2...",55.687975,37.494997,2024-06-20 19:00:00,14,88,13
65243,8811aa7b5dfffff,"""Москва, улица Раменки, 25к3""","119607, г Москва, р-н Раменки, ул Раменки, д 2...",55.687975,37.494997,2024-06-20 20:00:00,14,88,13
65380,8811aa7b5dfffff,"""Москва, улица Раменки, 25к3""","119607, г Москва, р-н Раменки, ул Раменки, д 2...",55.687975,37.494997,2024-06-20 21:00:00,14,88,11
65517,8811aa7b5dfffff,"""Москва, улица Раменки, 25к3""","119607, г Москва, р-н Раменки, ул Раменки, д 2...",55.687975,37.494997,2024-06-20 22:00:00,14,88,11
65654,8811aa7b5dfffff,"""Москва, улица Раменки, 25к3""","119607, г Москва, р-н Раменки, ул Раменки, д 2...",55.687975,37.494997,2024-06-20 23:00:00,14,88,11

In [477]:
taxi_df = pd.read_csv('data/taxi_data.csv')
taxi_df.drop('Unnamed: 0', axis=1, inplace=True)
taxi_df.drop('url', axis=1, inplace=True)
taxi_df = taxi_df[taxi_df['date'].astype(str).str.isnumeric()]
taxi_df

                    id   time date  value
0      8811aa6343fffff  23:00    1      6
1      8811aa6343fffff  22:00    1     10
2      8811aa6343fffff  21:00    1     14
3      8811aa6343fffff  20:00    1     18
4      8811aa6343fffff  19:00    1     17
...                ...    ...  ...    ...
53323  8811aa784dfffff   4:00   11      3
53324  8811aa784dfffff   3:00   11      3
53325  8811aa784dfffff   2:00   11      3
53326  8811aa784dfffff   1:00   11      5
53327  8811aa784dfffff   0:00   11      7

[53082 rows x 4 columns]

In [478]:
month = 6
year = 2024
taxi_df['date'] =  pd.to_datetime(taxi_df['date'].apply(lambda x: f'2024-06-{x}'))
taxi_df

                    id   time       date  value
0      8811aa6343fffff  23:00 2024-06-01      6
1      8811aa6343fffff  22:00 2024-06-01     10
2      8811aa6343fffff  21:00 2024-06-01     14
3      8811aa6343fffff  20:00 2024-06-01     18
4      8811aa6343fffff  19:00 2024-06-01     17
...                ...    ...        ...    ...
53323  8811aa784dfffff   4:00 2024-06-11      3
53324  8811aa784dfffff   3:00 2024-06-11      3
53325  8811aa784dfffff   2:00 2024-06-11      3
53326  8811aa784dfffff   1:00 2024-06-11      5
53327  8811aa784dfffff   0:00 2024-06-11      7

[53082 rows x 4 columns]

In [479]:
taxi_df['datetime'] = pd.to_datetime(taxi_df['date'].astype(str) + ' ' + taxi_df['time'].astype(str))
taxi_df.sort_values(by=['id', 'datetime'], ascending=True, inplace=True)
taxi_df['hex_id'] = taxi_df['id']
taxi_df.drop('id', axis=1, inplace=True)
taxi_df.drop('time', axis=1, inplace=True)
taxi_df.drop('date', axis=1, inplace=True)
taxi_df

       value            datetime           hex_id
46247      2 2024-06-09 00:00:00  881181a605fffff
46246      0 2024-06-09 01:00:00  881181a605fffff
46245      0 2024-06-09 02:00:00  881181a605fffff
46244      0 2024-06-09 03:00:00  881181a605fffff
46243      0 2024-06-09 04:00:00  881181a605fffff
...      ...                 ...              ...
47380     24 2024-06-10 19:00:00  8811aa7b1bfffff
47379     19 2024-06-10 20:00:00  8811aa7b1bfffff
47378     25 2024-06-10 21:00:00  8811aa7b1bfffff
47377     16 2024-06-10 22:00:00  8811aa7b1bfffff
47376     12 2024-06-10 23:00:00  8811aa7b1bfffff

[53082 rows x 3 columns]

In [480]:
df = pd.merge(taxi_df, weather_df, on=['hex_id', 'datetime'], how='inner')
df

,value,datetime,hex_id,street,region,latitude,longitude,temperature,humidity,wind_speed
0,10,2024-06-01 00:00:00,8811aa6327fffff,"""Москва, Мрузовский переулок, 11с10""","105120, г Москва, Басманный р-н, Мрузовский пе...",55.758823,37.668206,19,73,9
1,8,2024-06-01 01:00:00,8811aa6327fffff,"""Москва, Мрузовский переулок, 11с10""","105120, г Москва, Басманный р-н, Мрузовский пе...",55.758823,37.668206,18,77,4
2,9,2024-06-01 02:00:00,8811aa6327fffff,"""Москва, Мрузовский переулок, 11с10""","105120, г Москва, Басманный р-н, Мрузовский пе...",55.758823,37.668206,17,82,4
3,4,2024-06-01 03:00:00,8811aa6327fffff,"""Москва, Мрузовский переулок, 11с10""","105120, г Москва, Басманный р-н, Мрузовский пе...",55.758823,37.668206,16,88,2
4,5,2024-06-01 04:00:00,8811aa6327fffff,"""Москва, Мрузовский переулок, 11с10""","105120, г Москва, Басманный р-н, Мрузовский пе...",55.758823,37.668206,17,77,4
...,...,...,...,...,...,...,...,...,...,...
9275,53,2024-06-09 19:00:00,8811aa7b19fffff,"""Москва, Ломоносовский проспект, 25к5""","119311, г Москва, р-н Раменки, Ломоносовский п...",55.692009,37.531073,20,40,9
9276,53,2024-06-09 20:00:00,8811aa7b19fffff,"""Москва, Ломоносовский проспект, 25к5""","119311, г Москва, р-н Раменки, Ломоносовский п...",55.692009,37.531073,19,46,7
9277,77,2024-06-09 21:00:00,8811aa7b19fffff,"""Москва, Ломоносовский проспект, 25к5""","119311, г Москва, р-н Раменки, Ломоносовский п...",55.692009,37.531073,18,49,4
9278,54,2024-06-09 22:00:00,8811aa7b19fffff,"""Москва, Ломоносовский проспект, 25к5""","119311, г Москва, р-н Раменки, Ломоносовский п...",55.692009,37.531073,17,55,4
9279,30,2024-06-09 23:00:00,8811aa7b19fffff,"""Москва, Ломоносовский проспект, 25к5""","119311, г Москва, р-н Раменки, Ломоносовский п...",55.692009,37.531073,17,55,4

In [481]:
df['rides_count'] = df['value']

In [482]:
df = df.reindex(
    columns=[
        'hex_id', 'street', 'region', 'latitude', 'longitude', 'datetime', 'rides_count', 'temperature', 'humidity', 'wind_speed'
    ]
)
df

,hex_id,street,region,latitude,longitude,datetime,rides_count,temperature,humidity,wind_speed
0,8811aa6327fffff,"""Москва, Мрузовский переулок, 11с10""","105120, г Москва, Басманный р-н, Мрузовский пе...",55.758823,37.668206,2024-06-01 00:00:00,10,19,73,9
1,8811aa6327fffff,"""Москва, Мрузовский переулок, 11с10""","105120, г Москва, Басманный р-н, Мрузовский пе...",55.758823,37.668206,2024-06-01 01:00:00,8,18,77,4
2,8811aa6327fffff,"""Москва, Мрузовский переулок, 11с10""","105120, г Москва, Басманный р-н, Мрузовский пе...",55.758823,37.668206,2024-06-01 02:00:00,9,17,82,4
3,8811aa6327fffff,"""Москва, Мрузовский переулок, 11с10""","105120, г Москва, Басманный р-н, Мрузовский пе...",55.758823,37.668206,2024-06-01 03:00:00,4,16,88,2
4,8811aa6327fffff,"""Москва, Мрузовский переулок, 11с10""","105120, г Москва, Басманный р-н, Мрузовский пе...",55.758823,37.668206,2024-06-01 04:00:00,5,17,77,4
...,...,...,...,...,...,...,...,...,...,...
9275,8811aa7b19fffff,"""Москва, Ломоносовский проспект, 25к5""","119311, г Москва, р-н Раменки, Ломоносовский п...",55.692009,37.531073,2024-06-09 19:00:00,53,20,40,9
9276,8811aa7b19fffff,"""Москва, Ломоносовский проспект, 25к5""","119311, г Москва, р-н Раменки, Ломоносовский п...",55.692009,37.531073,2024-06-09 20:00:00,53,19,46,7
9277,8811aa7b19fffff,"""Москва, Ломоносовский проспект, 25к5""","119311, г Москва, р-н Раменки, Ломоносовский п...",55.692009,37.531073,2024-06-09 21:00:00,77,18,49,4
9278,8811aa7b19fffff,"""Москва, Ломоносовский проспект, 25к5""","119311, г Москва, р-н Раменки, Ломоносовский п...",55.692009,37.531073,2024-06-09 22:00:00,54,17,55,4
9279,8811aa7b19fffff,"""Москва, Ломоносовский проспект, 25к5""","119311, г Москва, р-н Раменки, Ломоносовский п...",55.692009,37.531073,2024-06-09 23:00:00,30,17,55,4

In [483]:
df.to_csv('data/dataset.csv', index=False)